<div class="backdrop is-hidden" data-modal="2">
  <div class="modal">
    <button class="modal-close" type="button" data-close-modal>&#9932;</button>
    <b class="modal-title">modal 2</b>

    <p>Slick example</p>

    <div class="slick-modal">
      <div>
        <img src="./img/vite-logo.png" alt="vite-logo" />
        <h3 class="slide-title">slide 1</h3>
      </div>
      <div>
        <img src="./img/vite-logo.png" alt="vite-logo" />
        <h3 class="slide-title">slide 2</h3>
      </div>
      <div>
        <img src="./img/vite-logo.png" alt="vite-logo" />
        <h3 class="slide-title">slide 3</h3>
      </div>
    </div>
    <button
      class="modal-example-btn"
      type="button"
      data-close-modal
      data-open-modal="3"
    >
      open modal 3
    </button>
  </div>
</div>
