<div class="backdrop is-hidden" data-modal="1">
  <div class="modal">
    <button class="modal-close" type="button" data-close-modal>&#9932;</button>
    <b class="modal-title">modal 1</b>

    <p>Swiper example</p>

    <div class="swiper-modal">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-card">
            <img src="./img/vite-logo.png" alt="vite-logo" />
            <h3 class="slide-title">slide 1</h3>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-card">
            <img src="./img/vite-logo.png" alt="vite-logo" />
            <h3 class="slide-title">slide 2</h3>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-card">
            <img src="./img/vite-logo.png" alt="vite-logo" />
            <h3 class="slide-title">slide 3</h3>
          </div>
        </div>
      </div>
      <div class="swiper-pagination-modal"></div>
    </div>

    <button
      class="modal-example-btn"
      type="button"
      data-close-modal
      data-open-modal="3"
    >
      open modal 3
    </button>
  </div>
</div>
