<header class="header">
  <div class="container header-container">
    <a class="header-logo" href="#">watchcharm</a>
    <button class="header-menu-open" type="button">
      <svg class="header-menu-icon" width="34" height="34">
        <use href="../img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link current" href="">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">About Us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Catalog</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Sale</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Contact Us</a>
        </li>
      </ul>
    </nav>

    <ul class="header-social">
      <li class="header-social-item">
        <a class="header-social-link" href="">
          <svg width="20" height="20" class="header-social-icon">
            <use href="../img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a class="header-social-link" href="">
          <svg width="20" height="20" class="header-social-icon">
            <use href="../img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a class="header-social-link" href="">
          <svg width="20" height="20" class="header-social-icon">
            <use href="../img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="mob-menu">
      <button class="mob-menu-close" type="button">
        <svg class="mob-menu-icon" width="34" height="34">
          <use href="../img/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <nav class="mob-nav">
        <ul class="mob-nav-list">
          <li class="mob-nav-item">
            <a class="mob-nav-link current" href="">Home</a>
          </li>
          <li class="mob-nav-item">
            <a class="mob-nav-link" href="">About Us</a>
          </li>
          <li class="mob-nav-item">
            <a class="mob-nav-link" href="">Catalog</a>
          </li>
          <li class="mob-nav-item">
            <a class="mob-nav-link" href="">Sale</a>
          </li>
          <li class="mob-nav-item">
            <a class="mob-nav-link" href="">Reviews</a>
          </li>
          <li class="mob-nav-item">
            <a class="mob-nav-link" href="">Contact Us</a>
          </li>
        </ul>
      </nav>

      <ul class="mob-social">
        <li class="mob-social-item">
          <a class="mob-social-link" href="">
            <svg width="20" height="20" class="mob-social-icon">
              <use href="../img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mob-social-item">
          <a class="mob-social-link" href="">
            <svg width="20" height="20" class="mob-social-icon">
              <use href="../img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mob-social-item">
          <a class="mob-social-link" href="">
            <svg width="20" height="20" class="mob-social-icon">
              <use href="../img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
