<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="nav-list">
        <!-- <li class="nav-item">
          <a href="#plugin" class="nav-link">Plugin</a>
        </li> -->

        <li class="nav-item">
          <a href="#slick" class="nav-link">Slick</a>
        </li>

        <li class="nav-item">
          <a href="#swiper" class="nav-link">Swiper</a>
        </li>

        <li class="nav-item">
          <a href="#modal" class="nav-link">Modal</a>
        </li>
      </ul>

      <ul class="nav-list">
        <li class="nav-item">
          <a href="./page-2.html" class="nav-link">Page 2</a>
        </li>

        <li class="nav-item">
          <a href="./page-3.html" class="nav-link">Page 3</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
