<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-content">
        <h1 class="hero-title">
          Welcome to our <span class="accent">collection</span> of premium
          watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <div class="hero-box">
        <ul class="hero-list">
          <li class="hero-list-item">
            <picture>
              <source
                srcset="
                  ./img/hero/team/hero-desk-1.jpg    1x,
                  ./img/hero/team/hero-desk-1-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hero/team/hero-tablet-1.jpg    1x,
                  ./img/hero/team/hero-tablet-1-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/hero/team/hero-mobile-1.jpg    1x,
                  ./img/hero/team/hero-mobile-1-2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="hero-team-img"
                src="./img/hero/team/hero-desk-1.jpg"
                alt="team person"
                width="60"
                height="60"
              />
            </picture>
          </li>

          <li class="hero-list-item">
            <picture>
              <source
                srcset="
                  ./img/hero/team/hero-desk-2.jpg    1x,
                  ./img/hero/team/hero-desk-2-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hero/team/hero-tablet-2.jpg    1x,
                  ./img/hero/team/hero-tablet-2-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/hero/team/hero-mobile-2.jpg    1x,
                  ./img/hero/team/hero-mobile-2-2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="hero-team-img"
                src="./img/hero/team/hero-desk-2.jpg"
                alt="team person"
                width="60"
                height="60"
              />
            </picture>
          </li>

          <li class="hero-list-item">
            <picture>
              <source
                srcset="
                  ./img/hero/team/hero-desk-3.jpg    1x,
                  ./img/hero/team/hero-desk-3-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hero/team/hero-tablet-3.jpg    1x,
                  ./img/hero/team/hero-tablet-3-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/hero/team/hero-mobile-3.jpg    1x,
                  ./img/hero/team/hero-mobile-3-2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="hero-team-img"
                src="./img/hero/team/hero-desk-3.jpg"
                alt="team person"
                width="60"
                height="60"
              />
            </picture>
          </li>
        </ul>
        <a class="hero-scroll-link" href="#">Scroll down</a>
      </div>
    </div>
    <div class="hero-watch">
      <picture>
        <source
          srcset="
            ./img/hero/watch/hero-desk-watch.jpg    1x,
            ./img/hero/watch/hero-desk-watch-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/hero/watch/hero-tab-watch.jpg    1x,
            ./img/hero/watch/hero-tab-watch-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/hero/watch/hero-mob-watch.jpg    1x,
            ./img/hero/watch/hero-mob-watch-2x.jpg 2x
          "
          media="(min-width: 375px)"
        />
        <img
          class="hero-watch-img"
          src="./img/hero/watch/hero-desk-watch.jpg"
          alt="watch picture"
          width="1150"
          height="500"
        />
      </picture>
    </div>
  </div>
</section>
