<div class="section modal-example" id="modal">
  <div class="container">
    <h2 class="title"><span class="gradient">Multiple Modal</span></h2>

    <ul class="actions">
      <li class="action">
        <a
          class="link"
          href="https://github.com/SergeyKorobka/vanilla-app-template/blob/main/src/js/modal.js"
          target="_blank"
          rel="noopener noreferrer"
          >View on GitHub</a
        >
      </li>
      <li class="action">
        <a
          class="link"
          href="https://www.loom.com/share/e0a792e1e2a540c4b405a45c2f4234c1"
          target="_blank"
          rel="noopener noreferrer"
          >Video Guide</a
        >
      </li>
    </ul>

    <ul class="modal-example-list">
      <li class="modal-example-item">
        <button class="modal-example-btn" type="button" data-open-modal="1">
          Open modal 1
        </button>
      </li>
      <li class="modal-example-item">
        <button class="modal-example-btn" type="button" data-open-modal="2">
          Open modal 2
        </button>
      </li>
    </ul>
  </div>
</div>
