<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>

    <div class="reviews-card">
      <ul class="reviews-card-list">
        <li class="reviews-card-item">
          <div class="card-wrapp">
            <img
              width="56"
              height="56"
              class="reviews-card-img"
              srcset="
                /img/reviews/reviews-1.png    1x,
                /img/reviews/reviews-1-2x.png 2x
              "
              src="/img/reviews/reviews-1.png"
              alt="John Wax"
            />

            <h3 class="reviews-card-title">John Wax</h3>
            <p class="reviews-card-text">
              Buying a watch from was the best choice for me. The design is
              perfectly combined with high quality materials. The strap fits
              nicely on the hand, and the mechanism works flawlessly.
            </p>
          </div>
        </li>

        <li class="reviews-card-item second">
          <div class="card-wrapp">
            <img
              width="56"
              height="56"
              class="reviews-card-img"
              srcset="
                /img/reviews/reviews-2.png    1x,
                /img/reviews/reviews-2-2x.png 2x
              "
              src="/img/reviews/reviews-2.png"
              alt="Victoria Romashenko"
            />

            <h3 class="reviews-card-title">Victoria Romashenko</h3>
            <p class="reviews-card-text">
              Can't take my eyes off my watch from. Every time I put it on, it
              is admired by those around me. The build quality and attention to
              detail make it a real gem among my accessories.
            </p>
          </div>
        </li>

        <li class="reviews-card-item third">
          <div class="card-wrapp">
            <img
              width="56"
              height="56"
              class="reviews-card-img"
              srcset="
                /img/reviews/reviews-3.png    1x,
                /img/reviews/reviews-3-2x.png 2x
              "
              src="/img/reviews/reviews-3.png"
              alt="Anastasia Trachuk"
            />
            <h3 class="reviews-card-title">Anastasia Trachuk</h3>
            <p class="reviews-card-text">
              My watch from is a real masterpiece. Every detail impresses with
              the high quality of execution. Special features like [specify
              features] make it an indispensable companion in my daily life.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
