<section class="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>

    <div class="sale-wrapper">
      <div class="sale-box">
        <ul class="sale-list">
          <li class="sale-item">
            <picture>
              <source
                srcset="./img/sale/sale-1.png 1x, ./img/sale/sale-1-2x.png 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale/sale-mob-1.png    1x,
                  ./img/sale/sale-mob-1-2x.png 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="sale-img"
                src="./img/sale/sale-1.png"
                alt="Watch"
                width="96"
                height="100"
              />
            </picture>
          </li>

          <li class="sale-item">
            <picture>
              <source
                srcset="./img/sale/sale-2.png 1x, ./img/sale/sale-2-2x.png 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale/sale-mob-2.png    1x,
                  ./img/sale/sale-mob-2-2x.png 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="sale-img"
                src="./img/sale/sale-2.png"
                alt="Watch"
                width="96"
                height="100"
              />
            </picture>
          </li>

          <li class="sale-item">
            <picture>
              <source
                srcset="./img/sale/sale-3.png 1x, ./img/sale/sale-3-2x.png 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale/sale-mob-3.png    1x,
                  ./img/sale/sale-mob-3-2x.png 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="sale-img"
                src="./img/sale/sale-3.png"
                alt="Watch"
                width="96"
                height="100"
              />
            </picture>
          </li>

          <li class="sale-item">
            <picture>
              <source
                srcset="./img/sale/sale-4.png 1x, ./img/sale/sale-4-2x.png 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale/sale-mob-4.png    1x,
                  ./img/sale/sale-mob-4-2x.png 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="sale-img"
                src="./img/sale/sale-4.png"
                alt="Watch"
                width="96"
                height="100"
              />
            </picture>
          </li>
        </ul>

        <div class="sale-big-item">
          <picture>
            <source
              srcset="./img/sale/sale-big.png 1x, ./img/sale/sale-big-2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/sale/sale-mob-big.png    1x,
                ./img/sale/sale-mob-big-2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              class="sale-img-big"
              src="./img/sale/sale-big.png"
              alt="Watch"
              width="328"
              height="398"
            />
          </picture>
        </div>
      </div>

      <div class="sale-card">
        <div class="sale-card-info">
          <h3 class="sale-card-title">
            MARQ® Commander (Gen 2) - Carbon Edition
          </h3>
          <p class="sale-product-tag">Product tag: 706587</p>
          <div class="sale-product-price-wrapper">
            <span class="sale-product-price">€1500</span>
            <span class="sale-product-old-price">€3000</span>
          </div>
          <p class="sale-card-text">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
            smartwatch for adventurers that takes materials and features to the
            next level. The body of the watch is made of very durable Fused
            Carbon Fiber material and has a precise AMOLED touch screen. The
            sensitive touch screen is complemented by buttons that can be used
            in any conditions.
          </p>

          <ul class="sale-card-list">
            <li class="sale-card-item">Fused carbon fiber</li>
            <li class="sale-card-item">Grade-5 Titanuim</li>
            <li class="sale-card-item">Athlete</li>
            <li class="sale-card-item">Golfer</li>
            <li class="sale-card-item">Commander</li>
            <li class="sale-card-item">Adventurer</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
