<div class="section slick-section" id="slick">
  <div class="container">
    <h2 class="title"><span class="gradient">Slick Slider</span></h2>

    <ul class="actions">
      <li class="action">
        <a
          class="link"
          href="https://kenwheeler.github.io/slick/"
          target="_blank"
          rel="noopener noreferrer"
          >Get Started</a
        >
      </li>
      <li class="action">
        <a
          class="link"
          href="https://github.com/kenwheeler/slick/"
          target="_blank"
          rel="noopener noreferrer"
          >View on GitHub</a
        >
      </li>
      <li class="action">
        <a
          class="link"
          href="https://www.loom.com/share/499ad40da093492581dac484e6acabb6"
          target="_blank"
          rel="noopener noreferrer"
          >Video Guide</a
        >
      </li>
    </ul>

    <div class="slick">
      <div>
        <img src="./img/vite-logo.png" alt="vite-logo" />
        <h3 class="slide-title">slide 1</h3>
      </div>
      <div>
        <img src="./img/vite-logo.png" alt="vite-logo" />
        <h3 class="slide-title">slide 2</h3>
      </div>
      <div>
        <img src="./img/vite-logo.png" alt="vite-logo" />
        <h3 class="slide-title">slide 3</h3>
      </div>
      <div>
        <img src="./img/vite-logo.png" alt="vite-logo" />
        <h3 class="slide-title">slide 4</h3>
      </div>
      <div>
        <img src="./img/vite-logo.png" alt="vite-logo" />
        <h3 class="slide-title">slide 5</h3>
      </div>
      <div>
        <img src="./img/vite-logo.png" alt="vite-logo" />
        <h3 class="slide-title">slide 6</h3>
      </div>
      <div>
        <img src="./img/vite-logo.png" alt="vite-logo" />
        <h3 class="slide-title">slide 7</h3>
      </div>
      <div>
        <img src="./img/vite-logo.png" alt="vite-logo" />
        <h3 class="slide-title">slide 8</h3>
      </div>
    </div>
  </div>
</div>
