.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-image: linear-gradient(
    -45deg,
    rgba(95, 28, 126, 0.3),
    rgba(25, 72, 90, 0.3)
  );

  transition-property: visibility, opacity;
  transition: 250ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 40px);
  max-width: 600px;
  min-height: 600px;
  padding: 48px 24px 24px;
  border-radius: 4px;

  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
  transition: transform 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -150%);
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #848484;

  font-size: 13px;
  background-color: #fff;
  transition: background-color 250ms linear, color 250ms linear;
}

.modal-close:hover,
.modal-close:focus {
  background-color: #747bff;
  color: #fff;
}

.modal-title {
  display: block;
  margin-bottom: 1.5rem;

  font-size: 2rem;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;

  color: #213547;
}

.last-modal-text {
  display: block;

  margin-bottom: 1.5rem;

  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.14;

  color: #213547;
  text-align: center;
  background-image: linear-gradient(120deg, #bd34fe 30%, #41d1ff);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
